.contactUs {
  height: 50rem;
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 86% 100%,
      hsla(242, 100%, 70%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 4% 5%, #ff85a7 0px, transparent 50%);
}
